In [1]:
import pandas as pd
import random

In [2]:
people = pd.read_csv("C:/Users/WENCESLAO/Desktop/Employee 1000x.csv")
people.tail(6)

,Index,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
9994,9995,Allen,Stein,Male,becky55@example.org,4043002051,02-12-25,"Scientist, research (medical)"
9995,9996,Tina,Sherman,Male,bartlettcolleen@example.org,(455)476-4044x5755,28-07-74,"Scientist, physiological"
9996,9997,Earl,Jennings,Female,andreabenton@example.com,009.056.6505,20-08-32,Warehouse manager
9997,9998,Ellen,Dominguez,Female,michaelayoder@example.net,409-428-4297x469,06-06-66,Lawyer
9998,9999,Emma,Clark,Male,pstrickland@example.com,849-868-8653,09-05-07,Accounting technician
9999,10000,Katrina,Schwartz,Female,andres56@example.org,001-874-330-5546x16770,14-08-35,Drilling engineer

In [3]:
col = people[['Index']]

In [4]:
data = [
    # Funny benefits
    [1, "Unlimited coffee refills"],
    [2, "Free nap pods"],
    [3, "Pizza Fridays"],
    [4, "Work-from-beach option"],
    [5, "Office dog hugs"],
    [6, "Birthday day-off"],
    [7, "Meeting-free Mondays"],
    [8, "Unlimited snacks"],
    [9, "Free gym naps"],
    [10, "Company-provided teleportation"],
    [11, "Chair massages"],
    [12, "Free ice cream breaks"],
    [13, "Office karaoke nights"],
    [14, "No emails after 5pm"],
    [15, "Casual pajamas day"],
    [16, "Desk plant bonus"],
    [17, "Paid coffee tasting trips"],
    [18, "Stress-ball allowance"],
    [19, "Free Netflix for research"],
    [20, "Team-building on roller coasters"],
    [21, "Health insurance coverage"],
    [22, "Retirement savings plan"],
    [23, "Paid vacation days"],
    [24, "Professional development budget"],
    [25, "Flexible working hours"],
    [26, "Pewdiepie and Rubius meeting"],
    [27, "a fish"]

]

benefits = pd.DataFrame(data, columns=["Number", "Benefit"])

In [5]:
# We will create the question input to avoid "str" or numbers below/above the indicated
def Q():
    user_input = input("Please, insert your Employee ID: ").strip()

    # check if it's digits
    if user_input.isdigit():
        a = int(user_input)  # convert to number
        if 1 <= a <= 9999:
            print("✅")
            return a
        else:
            print("❌ Error: ID must be between 1 and 9999")
            return None
    else:
        print("❌ Error: ID must be numeric")
        return None

In [6]:
# We will create the system which assigns a random number benefits
def system():
  # p = Q()
   num_benefits = random.randint(1, 26)
   b = random.sample(list(benefits["Number"]), num_benefits)
   return f'Congratulations! These are your benefits: {b}'

'''    
for ee in range(1):
 print(system())  
'''

'    \nfor ee in range(1):\n print(system())  \n'

In [7]:
# We will create a combination of Input an Results
def final():
 for ee in range(1):
    if Q() is not None:
     print(system())
    else:
       print("Please, try again")
final()

Please, insert your Employee ID:  1

✅
Congratulations! These are your benefits: [13, 20, 18, 11, 1, 6, 25, 12, 24, 15, 17, 5, 19, 22, 21, 4, 7, 3, 9, 26, 10]

In [8]:
'''
# We will create the table which track all the datas (Input (ID) and result (Numbers of Benefits))
ee_benefits = pd.concat([ee_benefits, pd.DataFrame({"ID": [final], "Benefits": [system]})],
ignore_index=True)
ee_benefits
'''

NameError: name 'ee_benefits' is not defined